Node-RED/flows3.json
[{"id":"eac50c31.7e622","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7e1cce3.f32333","type":"mqtt in","z":"eac50c31.7e622","name":"","topic":"noderedlecture/sensor","qos":"2","datatype":"auto","broker":"704fc460.92e6ac","x":160,"y":280,"wires":[["be5db70.a8c2d48"]]},{"id":"1bcd3e71.8cded2","type":"debug","z":"eac50c31.7e622","name":"","active":true,"console":"false","complete":"payload","x":843.5993804931641,"y":200,"wires":[]},{"id":"a7f2ef78.1434f","type":"switch","z":"eac50c31.7e622","name":"","property":"payload.analyze","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":430,"y":280,"wires":[["f3327432.2a2258"],["7ac7ff19.54bb"]]},{"id":"be5db70.a8c2d48","type":"json","z":"eac50c31.7e622","name":"","x":411.5993957519531,"y":182.09091186523438,"wires":[["a7f2ef78.1434f"]]},{"id":"efae9a87.844288","type":"comment","z":"eac50c31.7e622","name":"Analyze = true","info":"","x":590,"y":40,"wires":[]},{"id":"59231c4.ac722e4","type":"rbe","z":"eac50c31.7e622","name":"rbe","func":"deadband","gap":"20%","start":"","inout":"out","property":"payload","x":790,"y":80,"wires":[["1bcd3e71.8cded2"]]},{"id":"f3327432.2a2258","type":"change","z":"eac50c31.7e622","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["59231c4.ac722e4"]]},{"id":"7ac7ff19.54bb","type":"change","z":"eac50c31.7e622","name":"","rules":[{"t":"set","p":"payload.note","to":"this is not being analysed"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["b990a861.113ea8"]]},{"id":"b990a861.113ea8","type":"debug","z":"eac50c31.7e622","name":"","active":true,"console":"false","complete":"false","x":843.5993804931641,"y":252.09091186523438,"wires":[]},{"id":"704fc460.92e6ac","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]