Node-RED/flows1.json
[{"id":"f4d09e80.bf2ed","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e9330bd3.a459f8","type":"debug","z":"f4d09e80.bf2ed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":160,"wires":[]},{"id":"87d91995.a2f4f8","type":"inject","z":"f4d09e80.bf2ed","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"super man","payloadType":"str","x":210,"y":100,"wires":[["e9330bd3.a459f8","c58d503.30538b"]]},{"id":"c58d503.30538b","type":"debug","z":"f4d09e80.bf2ed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":60,"wires":[]},{"id":"284cb515.44705a","type":"mqtt in","z":"f4d09e80.bf2ed","name":"","topic":"noderedlecture/sensor","qos":"2","datatype":"auto","broker":"704fc460.92e6ac","x":200,"y":380,"wires":[["cf642a41.8382f8"]]},{"id":"c7819b10.45d3c8","type":"switch","z":"f4d09e80.bf2ed","name":"","property":"payload.analyze","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":380,"wires":[["bd756d6b.643b8"],["e4cbbb2d.d0be88"]]},{"id":"cf642a41.8382f8","type":"json","z":"f4d09e80.bf2ed","name":"","property":"payload","action":"","pretty":false,"x":430,"y":280,"wires":[["c7819b10.45d3c8"]]},{"id":"bd756d6b.643b8","type":"debug","z":"f4d09e80.bf2ed","name":"","active":true,"console":"false","complete":"false","x":830,"y":260,"wires":[]},{"id":"e4cbbb2d.d0be88","type":"debug","z":"f4d09e80.bf2ed","name":"","active":true,"console":"false","complete":"false","x":830,"y":420,"wires":[]},{"id":"704fc460.92e6ac","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]